<footer>

	<div class="card mb-3">
		<img src="/img/240_F_688671503_lLVHVlFjaPxtDdysg54zUMJzhmm6Ekdq.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">the_shop_farwest</h5>
			<p class="card-text">Boutique femme</p>
			<p class="card-text">
				<small class="text-body-secondary">Bienvenue</small>
			</p>
		</div>
	</div>
	<p>
		<a href="https://github.com/Kathycat78" class="pInFooter">
			<i class="fa-brands fa-github"></i>
			GitHub</a>
	</p>
	<p>
		<a href="https://www.linkedin.com/in/HELYE catherine/" class="pInFooter">
			<i class="fa-brands fa-linkedin-in"></i>
			Linkedin</a>
	</p>
	<p>© Kathycat78{{ "now"|date("Y") }}
	</p>
	<p></p>
</footer>
