@font-face {
    font-family: poiret;
    src: url('/public/font/poiret-one.regular.ttf');
}

body {
    background-color: rgb(31, 13, 4);
    background-image: url('');
    font-family: poiret;
}

h1,
h2 {
    text-align: center;
}

h1 {
    color: rgb(162, 98, 71);
}

footer {
    margin-top: 30px;
    background-color: rgba(241, 238, 238, 0.589);
    padding: 20px;
    text-align: center;
    color: rgb(224, 120, 82);
}

@media screen and (min-width: 1300px) {
    body {
        background-size: cover;
    }
}