{% extends 'base.html.twig' %}

{% block title %}Nouveau Sujet
{% endblock %}

{% block body %}
	<h1>
		Nouvelle Creation de Sujet
	</h1>

	{{ include('topic/_form.html.twig') }}

	<a href="{{ path('app_topic_index') }}">back to list</a>
{% endblock %}
