{% extends 'base.html.twig' %}

{% block body %}

	<h1>Forum  Les Petits Choux🐉</h1>
	<h1>À propos Les Petits Choux🐉
	</h1>
	<p>Bienvenue sur Les Petits Choux, le forum  de  détente pour de suprises, les fées, et les animaux qui sont heureux sous la lumiére de sous-bois. Ici, on est gentil entre nous ont s'amusent et beaux pleins d'amour,  sujets sérieux : Les Petits Choux donnent du bonheur  rien quand les regardanrt joie assurée.</p>
	<p>Sur Les Petits Choux,  jouent entre amis  et partage la vedette que tu es!</p>
	<h1>Forum Les Petits Choux🐉
	</h1>
	<p>
		Les Petits Choux🐉, c'est le forum  de l'amour et du bonheur🐉 .</p>

{% endblock %}
