{% extends 'base.html.twig' %}

{% block body %}

	<h1>accessoires bijoux ceintures</h1>
	<h1>boutique femme
	</h1>
	<p>Bienvenue sur the_shop-farwest, la boutique  de  détente pour  la femme style farxest sous la lumiére de sous-bois. Ici, on est gentil entre nous ont s'amusent et beaux pleins d'amour,  sujets sérieux : Les Petits Choux donnent du bonheur  rien quand les regardanrt joie assurée.</p>
	!</p>
<p>
	x🐉, c'est l'amour  et du bonheu d'une femme 🐉 .</p>{% endblock %}
