{% extends 'base.html.twig' %}

{% block body %}

	<h1>accessoires bijoux ceintures</h1>
	<h1>boutique femme
	</h1>
	<p>Bienvenue sur the_shop-farwest, la boutique  de  détente pour la femme style farxest.</p>
	!</p>
<p>
	x c'est l'amour et du bonheur d'une femme .</p>{% endblock %}
