{% extends 'base.html.twig' %}

{% block body %}


	{% if app.user %}
		<h1>Bonjour,{{ app.user.userIdentifier }}, Pour etre belle !
		</h1>
	{% else %}
		<h1>the_shop_farwest</h1>
		<p>
			Viens Nous rejoindre
		</p>
	{% endif %}


{% endblock %}
